[submodule "data_raw/fcre-manual-data"]
	path = data_raw/fcre-manual-data
	url = https://github.com/tadhg-moore/fcre-manual-data.git
[submodule "data_raw/fcre-weir-data"]
	path = data_raw/fcre-weir-data
	url = https://github.com/tadhg-moore/fcre-weir-data.git
[submodule "data_raw/fcre-catwalk-data"]
	path = data_raw/fcre-catwalk-data
	url = https://github.com/tadhg-moore/fcre-catwalk-data.git
[submodule "fcre-metstation-data"]
	path = fcre-metstation-data
	url = https://github.com/tadhg-moore/fcre-metstation-data.git
